.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 1px 1px 3px;
}

.header-text {
  font-size: 35px;
  font-style: italic;
}

.header__logo img {
  width: 80px;
}

.add-btn {
  background: #a1f8fc;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
  transform: scale(1);
}

.add-btn:hover {
  background: gold;
  transform: scale(1.1);
}
