@import url(/css/all/clear.css);
@import url(/css/all/header.css);
@import url(/css/all/main.css);
@import url(/css/all/footer.css);
@import url(/css/all/form.css);
@import url(/css/all/popup.css);

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background: linear-gradient(45deg, #fddb92, #d1fdff);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
